# Arquivos de compilação
target/
build/

# Arquivos de dependências gerados
lib/
*.jar

# Arquivos específicos do IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Logs
logs/

# Arquivos temporários
*.log
*.tmp

# Arquivos de sistema
.DS_Store

# Arquivos de upload
uploads/
